name: Preprocessing Dataset Automation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn numpy

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_SayyidFakhriNurjundi.py

      - name: Commit and push preprocessed data
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add preprocessing/synthetic_employee_burnout_preprocessing
          git commit -m "Automated preprocessing dataset update" || echo "No changes to commit"
          git push
